/* QR Code Print Modification Stylesheet */
body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 1in;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 1in !important;
    height: 1in !important;
    display: block;
    margin: 0 0 4px 0;
}
span {
    display: block;
    text-align: center;
    width: 1.5in;
    font-size: 8pt;
    font-family: monospace;
    font-weight: bold;
    color: #000000;
}
